p {
  margin-top: 18px;
  color: #666666;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  label {
    margin-bottom: 5px;
  }
  input {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #d9d9d9;
    font-size: 16px;

    &::placeholder {
      color: #b3b3b3;
    }
  }
}

.btn-area {
  margin-top: 18px;

  button {
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
  }

  .btn-submit {
    background-color: #2364da;
    color: #fff;
    border: none;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      background-color: darken(#2364da, 10%);
    }
  }

  .btn-reset {
    border: 2px solid #2364da;
    background-color: #fff;
    color: #2364da;
    cursor: pointer;

    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
}
