<app-header></app-header>
<app-card-message-layout cardTitle="Recuperar senha">
  <p>Faça seu login ou cadastre-se na nossa ferramenta!</p>
  <form [formGroup]="requestForm" (ngSubmit)="submit()">
    <label for="email">E-mail</label>
    <input
      id="email"
      formControlName="email"
      type="text"
      placeholder="Informe o e-mail cadastrado"
    />
    <div class="btn-area">
      <button class="btn-submit" type="submit">
        Enviar e-mail
      </button>
      <button class="btn-reset" type="reset" (click)="navigate('')">
        Cancelar
      </button>
    </div>
  </form>
</app-card-message-layout>
