<app-header></app-header>
<main>
  <div class="container">
    <div class="register-card">
      <div class="title-card">
        <h1>Cadastro de morador</h1>
      </div>
      <form [formGroup]="formRegister" (ngSubmit)="submit()">
        <div class="input-line">
          <div class="input-area">
            <label for="name">Nome*</label>
            <input
              formControlName="name"
              type="text"
              id="name"
              placeholder="Nome completo"
            />
            <div
              *ngIf="formRegister.get('name')?.invalid && formRegister.get('name')?.touched"
              class="error-message"
            >
              <p>Nome é obrigatório e deve ter pelo menos 3 caracteres.</p>
            </div>
          </div>
          <div class="input-area">
            <label for="email">Email*</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              placeholder="Digite seu e-mail"
            />
            <div
              *ngIf="formRegister.get('email')?.invalid && formRegister.get('email')?.touched"
              class="error-message"
            >
              <p>E-mail é obrigatório e deve ser válido.</p>
            </div>
          </div>
        </div>
        <div class="input-line">
          <div class="input-area">
            <label for="phoneNumber">Telefone*</label>
            <input
              formControlName="phoneNumber"
              type="text"
              id="phoneNumber"
              placeholder="Digite seu telefone"
            />
            <div
              *ngIf="formRegister.get('phoneNumber')?.invalid && formRegister.get('phoneNumber')?.touched"
              class="error-message"
            >
              <p>Telefone é obrigatório e deve ter pelo menos 11 caracteres.</p>
            </div>
          </div>
          <div class="input-area">
            <label for="cpf">CPF*</label>
            <input
              formControlName="cpf"
              type="text"
              id="cpf"
              placeholder="Digite seu CPF"
            />
            <div
              *ngIf="formRegister.get('cpf')?.invalid && formRegister.get('cpf')?.touched"
              class="error-message"
            >
              <p>CPF é obrigatório e deve ter pelo menos 11 caracteres.</p>
            </div>
          </div>
        </div>
        <div class="input-line">
          <div class="input-area">
            <label for="address">Endereço*</label>
            <input
              formControlName="address"
              type="text"
              id="address"
              placeholder="Digite seu endereço"
            />
            <div
              *ngIf="formRegister.get('address')?.invalid && formRegister.get('address')?.touched"
              class="error-message"
            >
              <p>Endereço é obrigatório.</p>
            </div>
          </div>
          <div class="input-area">
            <label for="apartment">Apartamento*</label>
            <input
              formControlName="apartment"
              type="number"
              id="apartment"
              placeholder="Nº do seu apartamento"
            />
            <div
              *ngIf="formRegister.get('apartment')?.invalid && formRegister.get('apartment')?.touched"
              class="error-message"
            >
              <p>Número do apartamento é obrigatório.</p>
            </div>
          </div>
        </div>
        <div class="input-line">
          <div class="input-area">
            <label for="password">Senha*</label>
            <input
              formControlName="password"
              type="password"
              id="password"
              placeholder="Sua senha com 6 dígitos"
            />
            <div
              *ngIf="formRegister.get('password')?.invalid && formRegister.get('password')?.touched"
              class="error-message"
            >
              <p>Senha é obrigatória e deve ter pelo menos 6 caracteres.</p>
            </div>
          </div>
          <div class="input-area">
            <label for="passwordConfirmation">Repetir sua senha*</label>
            <input
              formControlName="passwordConfirm"
              type="password"
              id="passwordConfirmation"
              placeholder="Confirme sua senha"
            />
            <div
              *ngIf="formRegister.get('passwordConfirm')?.invalid && formRegister.get('passwordConfirm')?.touched"
              class="error-message"
            >
              <p>
                Confirmação de senha é obrigatória e deve ter pelo menos 6
                caracteres.
              </p>
            </div>
          </div>
        </div>
        <div class="button-area">
          <button type="submit">Cadastrar-se</button>
          <button type="button" (click)="navigate()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</main>
