<app-home-layout title="Espaço Comum">
  <div class="btn-view-spaces">
    <button (click)="navigate('rent-space')">Nova reserva</button>
  </div>
  <table *ngIf="user">
    <tr>
      <th class="table-name">Local</th>
      <th>Data</th>
      <th>Cancelar</th>
    </tr>
    <tr *ngFor="let reservation of reservations">
      <td class="table-name">{{ reservation.spaceName }}</td>
      <td>{{ reservation.eventDate }}</td>
      <td>
        <button *ngIf="reservation.userId === user.id">
          <img src="/assets/svgs/visitor/trash.svg" alt="Excluir" />
        </button>
      </td>
    </tr>
  </table>
</app-home-layout>
