<app-home-layout title="Espaço Comum">
  <div>
    <button (click)="navigate('rent-space')">Nova reserva</button>
  </div>
  <table>
    <tr>
      <th>Local</th>
      <th>Data</th>
      <th>horario</th>
      <th>Data visita</th>
      <th>cancelar</th>
    </tr>
    <tr>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
      <td>
        <button>
          <img src="/assets/svgs/visitor/trash.svg" alt="Excluir" />
        </button>
      </td>
    </tr>
  </table>
</app-home-layout>
