<app-home-layout title="Espaço comum">
  <div class="btn-view-spaces">
    <button (click)="navigate('rent-space-table')">
      <img src="/assets/svgs/visitor/user-white.svg" alt="" />Minhas reservas
    </button>
  </div>
  <div class="places">
    <button
      class="place-card-btn"
      *ngFor="let space of spaces"
      (click)="createReservation(space.id)"
    >
      <img
        src="/assets/svgs/rent-space/swimming-pool.png"
        alt="swimming-pool"
      />
      <h3>{{space.name}}</h3>
    </button>
  </div>
</app-home-layout>
