<app-home-layout title="Espaço comum">
  <div class="places">
    <div class="place-card">
      <img
        src="/assets/svgs/rent-space/swimming-pool.png"
        alt="swimming-pool"
      />
      <h3>Piscina</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/barbecue.png" alt="barbecue" />
      <h3>Espaço Gourmet</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/party.png" alt="party" />
      <h3>Salão de festa</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/lifting.png" alt="lifting" />
      <h3>Academia</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/sport.png" alt="sport" />
      <h3>Quadra de esportes</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/sauna.png" alt="sauna" />
      <h3>Sauna</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/toys.png" alt="toys" />
      <h3>Briquedoteca</h3>
    </div>
    <div class="place-card">
      <img src="/assets/svgs/rent-space/games.png" alt="games" />
      <h3>Sala de jogos</h3>
    </div>
  </div>
</app-home-layout>
