<main>
  <div class="container">
    <section class="welcome">
      <div class="welcome-area">
        <h1>Bem Vindo!</h1>
        <p>
          Seja bem vindo ao Sistema de Administração de Condomínio.
        </p>
        <p>
          Aqui você poderá consultar seus débitos, verificar áreas comuns,
          realizar sugestões e muito mais!
        </p>
      </div>
      <img src="/assets/svgs/_Layer_.svg" alt="" />
    </section>
    <section class="login-section">
      <div class="form-login-content">
        <div class="system-title">
          <img src="/assets/svgs/Logo.svg" alt="" />
          <h3>Sistema de Administração de Condomínio</h3>
        </div>
        <p class="text-title">
          Faça seu login ou cadastre-se na nossa ferramenta!
        </p>
        <form>
          <div class="input-area">
            <label for="email">E-mail</label>
            <input name="email" type="text" placeholder="Digite seu e-mail" />
          </div>
          <div class="input-area">
            <label for="password">Senha</label>
            <input
              name="password"
              type="password"
              placeholder="Digite sua senha"
            />
          </div>
          <div class="btn-area">
            <button class="btn-login">
              <img src="/assets/svgs/key.svg" alt="key" />
              Acessar
            </button>
            <button class="btn-register">
              <img src="/assets/svgs/user.svg" alt="user" />
              Criar conta
            </button>
            <button class="btn-forgot-password">Esqueci minha senha</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
