<app-home-layout>
  <div class="warning-form-area">
    <form
      class="warning-form"
      [formGroup]="notificationForm"
      (ngSubmit)="submit()"
    >
      <h3>Aviso</h3>
      <div class="input-form-area">
        <label for="title">Título</label>
        <input
          formControlName="title"
          type="text"
          id="title"
          placeholder="Informe o título da mensagem"
        />
      </div>
      <div class="input-form-area">
        <label for="message">Mensagem</label>
        <textarea
          formControlName="message"
          name="mensagem"
          placeholder="Escreva sua mensagem aqui"
        ></textarea>
      </div>
      <div class="button-area">
        <button type="submit">enviar</button>
        <button type="button">Cancelar</button>
      </div>
    </form>
  </div>
</app-home-layout>
