<app-home-layout title="Avisos">
  <div *ngFor="let warning of warnings" class="card-welcome">
    <h3>{{warning.title}}</h3>
    <p>{{warning.message}}</p>
    <div class="read">
      <button
        (click)="deleteWarning(warning.id)"
        *ngIf="user?.userRole === 'ADMIN'"
      >
        <img src="/assets/svgs/visitor/trash.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="add-warning">
    <h2>Ocorrências</h2>
    <button *ngIf="user?.userRole === 'ADMIN'">Adicionar aviso</button>
  </div>
  <div class="view-warning">
    <div class="view-warning-card" *ngFor="let notification of notifications">
      <div class="view-warning-card-title">
        <h3>{{ notification.title }}</h3>
        <p>{{notification.createdAt | date: 'dd/MM/yyyy'}}</p>
      </div>
      <p>{{ notification.message }}</p>
      <div class="read">
        <button
          *ngIf="user && user.userRole === 'ADMIN'"
          (click)="deleteNotification(notification.id)"
        >
          <img src="/assets/svgs/visitor/trash.svg" alt="Excluir" />
        </button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="notificationList(page - 1, size)" [disabled]="page === 0">
      <img src="/assets/svgs/warning/Vector-left.svg" alt="Vector-left" />
    </button>
    <button
      (click)="notificationList(page + 1, size)"
      [disabled]="(page + 1) * size >= totalElements"
    >
      <img src="/assets/svgs/warning/Vector-right.svg" alt="Vector-right" />
    </button>
  </div>
</app-home-layout>
