<app-home-layout title="Avisos">
  <div class="card-welcome">
    <h3>seja bem vindo ao nosso condomínio</h3>
    <p>
      Bem-vindo ao nosso condomínio! Estamos felizes em tê-lo como parte da
      nossa comunidade. Esperamos que você se sinta em casa e aproveite todas as
      comodidades e a convivência tranquila que oferecemos. Se precisar de algo
      ou tiver dúvidas, nossa equipe está à disposição para ajudar. Mais uma
      vez, seja bem-vindo!
    </p>
    <div class="read">
      <a>Leia mais</a>
    </div>
  </div>
  <div class="add-warning">
    <h2>Ocorrências</h2>
    <button>Adicionar aviso</button>
  </div>
  <div class="view-warning">
    <div class="view-warning-card">
      <div class="view-warning-card-title">
        <h3>Reunião de condomínio</h3>
        <p>15/01/2024</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dolor eu
        ex cursus interdum eget id ligula. Nunc dapibus aliquam lorem sit amet
        posuere. Vestibulum semper suscipit risus, a posuere lacus faucibus id.
        Nunc dapibus dui non nunc blandit cursus...
      </p>
      <div class="read">
        <a>Leia mais</a>
      </div>
    </div>
    <div class="view-warning-card">
      <div class="view-warning-card-title">
        <h3>Portão aberto</h3>
        <p>14/01/2024</p>
      </div>
      <p>
        Nunc sit amet lacus in dolor tempus dapibus. Phasellus condimentum sed
        ante in aliquet. Donec quis diam ut nibh feugiat imperdiet. Fusce mattis
        dictum ante, eget luctus nibh sagittis at. ...
      </p>
      <div class="read">
        <a>Leia mais</a>
      </div>
    </div>
    <div class="view-warning-card">
      <div class="view-warning-card-title">
        <h3>Lorem ipsum dolor</h3>
        <p>14/01/2024</p>
      </div>
      <p>
        Vestibulum mattis eget tellus ut pharetra. Vivamus vel erat in orci
        commodo dictum in ut magna. Cras varius porta urna at fermentum. Quisque
        eu dui eget lectus luctus bibendum id nec diam.
      </p>
      <div class="read">
        <a>Leia mais</a>
      </div>
    </div>
    <div class="view-warning-card">
      <div class="view-warning-card-title">
        <h3>Lorem ipsum dolor</h3>
        <p>12/01/2024</p>
      </div>
      <p>
        Vestibulum mattis eget tellus ut pharetra. Vivamus vel erat in orci
        commodo dictum in ut magna. Cras varius porta urna at fermentum. Quisque
        eu dui eget lectus luctus bibendum id nec diam.
      </p>
      <div class="read">
        <a>Leia mais</a>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button>
      <img src="/assets/svgs/warning/Vector-left.svg" alt="Vector-left" />
    </button>
    <button>
      <img src="/assets/svgs/warning/Vector-right.svg" alt="Vector-right" />
    </button>
  </div>
</app-home-layout>
