p {
  color: #666666;
  margin-bottom: 35px;
}

button {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: #2364DA;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: darken(#2364DA, 10%);
    }

    img {
        margin-right: 10px;
    }
}
