form {
  margin-top: 18px;
  .input-area {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
      font-size: 16px;
    }
    input {
      border-radius: 8px;
      padding: 12px;
      margin-bottom: 18px;
      color: #b3b3b3;
      border: 1px solid #b3b3b3;

      &::placeholder {
        font-size: 16px;
      }
    }
  }
}

.btn-area {
  button {
    border-radius: 6px;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
  }

  .btn-submit {
    background-color: #2364da;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;

    &:hover {
      background-color: darken(#2364da, 10%);
    }
  }

  .btn-canceled {
    border: 2px solid #2364da;
    color: #2364da;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
}
