<app-header></app-header>
<app-card-message-layout cardTitle="Recuperar senha">
  <form>
    <div class="input-area">
      <label for="password">Nova senha</label>
      <input type="password" placeholder="Digite sua nova senha" />
    </div>
    <div class="input-area">
      <label for="password">Confirmar nova senha</label>
      <input type="password" placeholder="Confirme sua senha" />
    </div>
    <div class="btn-area">
      <button class="btn-submit">Salvar alteração</button>
      <button class="btn-canceled">Cancelar</button>
    </div>
  </form>
</app-card-message-layout>
